button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border-radius: 5%;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 25px;
  cursor: pointer;
}

#app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#equals {
  background-color: rgb(59, 121, 255);
}

#clear {
  background-color: rgba(207, 4, 4, 0.753);
}

.calculator {
  border: 5px solid gray;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
}

#output-display, #invalid-output {
  font-size: 40px;
  font-family: digital;
  color: white;
  text-align: right;
  line-height: 35px;
  height: 4vh;
  padding: 5px 0 10px 0;
}

#invalid-output{
  color: red;
}

#display, #invalid-input {
  min-height: 3vh;
  font-family: digital;
  font-size: 22px;
  color: white;
  text-align: right;
  vertical-align: text-top;
  line-height: 25px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#invalid-input {
  color: red;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
  background-color: #696363;
}